/* Navbar */
.logo{
    width: 3rem;
}
.textLogo{
    color: white;
    margin-left: 5px;
}
.nav-link{
    color: white !important;
}
.nav-item{
    position: relative;
}
.nav-item::before{
    content: "";
    background-color: #00bffe;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-out;
}
.nav-item:hover::before{
    content: "";
    background-color: #00bffe;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
}
.navbar-nav{
    overflow: hidden;
}

/* Header */
.header-main{
    height: 90vh;
    background: url("./imaBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-main h1{
    color: rgb(208, 59, 121);
    font-weight: 600;
    letter-spacing: 1.2rem;
    background-color: white;
    padding: 5px;
}